# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# Platform dirs (regenerate with flutter create if needed)
android/
ios/
linux/
macos/
windows/
web/
